aif360==0.6.1
bofire==0.1.0
gurobipy==12.0.1
matplotlib==3.10.3
medmnist==3.0.2
ml_things==0.0.1
multiprocess==0.70.18
numpy==2.2.6
opacus==1.5.3
pandas==2.2.3
pydantic==2.11.5
pytest==8.3.5
PyYAML==6.0.2
PyYAML==6.0.2
scienceplots==2.1.1
scikit_learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
setuptools==59.6.0
sklearn_evaluation==0.12.2
torch==2.7.0
torchvision==0.22.0
tqdm==4.67.1
transformers==4.52.4
